In [67]:
import pandas as pd

In [68]:
from sklearn.linear_model import LogisticRegression

In [69]:
df = pd.read_csv('train.csv')

In [70]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [71]:
df.shape

(891, 12)

In [72]:
df=df.drop('Cabin',axis=1)

In [73]:
df=df.dropna()

In [74]:
df.shape

(712, 11)

In [75]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [76]:
y = df['Survived']

In [77]:
x= df[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]

In [78]:
y.shape

(712,)

In [79]:
x.shape

(712, 7)

In [80]:
import numpy as np
x['age_bin']= pd.cut(x.Age,bins= np.arange(0,85,5))
x= x.drop('Age',axis=1)

C:\Users\Ajayk\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [81]:
x=pd.get_dummies(x,columns = ['Pclass','Sex','Embarked','age_bin'])

In [82]:
x.head()

,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,...,"age_bin_(30, 35]","age_bin_(35, 40]","age_bin_(40, 45]","age_bin_(45, 50]","age_bin_(50, 55]","age_bin_(55, 60]","age_bin_(60, 65]","age_bin_(65, 70]","age_bin_(70, 75]","age_bin_(75, 80]"
0,1,0,7.2500,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,71.2833,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,7.9250,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,53.1000,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,8.0500,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0

In [83]:
x.shape

(712, 27)

In [84]:
from sklearn.model_selection import train_test_split

In [85]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [86]:
classifier = LogisticRegression()
classifier.fit(X_train,y_train)

C:\Users\Ajayk\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [87]:
classifier.score(X_test,y_test)

0.8041958041958042

In [88]:
classifier.score(X_train,y_train)

0.804920913884007

In [89]:
classifier.intercept_

array([-0.0417343])

In [97]:
from sklearn.metrics import confusion_matrix,matthews_corrcoef

In [91]:
y_pred = classifier.predict(X_test)

In [92]:
cm = confusion_matrix(y_test,y_pred)

In [93]:
cm

array([[66, 16],
       [12, 49]], dtype=int64)

Src docs

In [94]:
tn, fp, fn, tp = confusion_matrix(y_test,y_pred).ravel()

In [95]:
print(tn, fp, fn, tp)

66 16 12 49

# Matthews correlation coefficient
mcc is far better than accuracy in unbalanced classes

In [98]:
matthews_corrcoef(y_test,y_pred)

0.604064601167