In [1]:
import pandas as pd

Load the dataframe in pandas from csv file

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df = df.drop('Cabin', axis=1)

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [6]:
df.shape

(891, 11)

In [7]:
df = df.dropna()

In [8]:
df.shape

(712, 11)

In [9]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [10]:
y = df['Survived']

In [11]:
X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]

In [12]:
X.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [13]:
X.shape

(712, 7)

In [14]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [15]:
y.shape

(712,)

In [16]:
X = pd.get_dummies(X, columns=['Pclass', 'Sex', 'Embarked'])

In [17]:
X.head()

,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,22.0,1,0,7.2500,0,0,1,0,1,0,0,1
1,38.0,1,0,71.2833,1,0,0,1,0,1,0,0
2,26.0,0,0,7.9250,0,0,1,1,0,0,0,1
3,35.0,1,0,53.1000,1,0,0,1,0,0,0,1
4,35.0,0,0,8.0500,0,0,1,0,1,0,0,1

In [18]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [19]:
X.shape

(712, 12)

In [20]:
# X['Age_2'] = X['Age'] ** 2

In [21]:
# X['Pclass_1_Sex_male'] = X['Pclass_1'] * X['Sex_male']

In [22]:
# X['Pclass_2_Sex_male'] = X['Pclass_2'] * X['Sex_male']

In [23]:
# X['Pclass_3_Sex_male'] = X['Pclass_3'] * X['Sex_male']

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [26]:
from sklearn.svm import SVC, LinearSVC

In [27]:
model = SVC()
model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [28]:
model.score(X_test, y_test)

0.6783216783216783

In [29]:
y_predict = model.predict(X_test)

In [30]:
for i, y in enumerate(y_test):
    print("Actual:",y, "Predicted:", y_predict[i])

Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 1
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 1 Predicted: 1
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0

In [31]:
coef = model.coef_[0]
x_cols = X_train.columns
for i, col in enumerate(x_cols):
    print("Column:",col,"Coef:",coef[i])

AttributeError: coef_ is only available when using a linear kernel

In [ ]:
model.score(X_test, y_test)

In [ ]:
# df_test=pd.read_csv("test.csv", sep=',')

In [ ]:
# df_test.dropna(inplace=True)

In [ ]:
# X_test = df_test[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]

In [ ]:
# X_test = pd.get_dummies(X_test, columns=['Pclass', 'Sex', 'Embarked'])

In [ ]:
# X_test.head()

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
y_pred

In [ ]:
from sklearn.metrics import confusion_matrix


confusion = confusion_matrix(y_test, y_pred)

confusion

tn = confusion[1][1]
print(tn)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
for idx, y in enumerate(y_test):
    print('Real:' + str(y) + ' Predicted:'+str(y_pred[idx]))

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
classfier = DecisionTreeClassifier()

In [ ]:
classfier.fit(X_train, y_train)

In [ ]:
classfier.score(X_train, y_train)

In [ ]:
classfier.score(X_test, y_test)

In [ ]:
y_pred = classfier.predict(X_test)

In [ ]:
print(y_pred)